@using System.Web.Security.AntiXss
@model WorldNomadsGroup.Models.NumberModel


@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Calculate numeric sequences</h4>
        <hr />
        <h3>Enter a valid positive whole number in the field below and press the Submit button to calculate and display the sequences.</h3>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.NumberVal, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NumberVal, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NumberVal, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Submit" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<div id="outputarea">
    @Html.Raw(ViewBag.Text)
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
